@charset "UTF-8";

#recently-edited-content .dashboard-widget-control-form{
	padding:10px;
	margin:0;
}

#recently-edited-content .dashboard-widget-control-form p,
#recently-edited-content .dashboard-widget-control-form ul{
	margin:0 0 10px 0;
	overflow:hidden;
}

#recently-edited-content .dashboard-widget-control-form label{
	float:left;
	display:block;
	width:150px;
	padding:4px;
	margin-right:10px;
}

#recently-edited-content .dashboard-widget-control-form li{
	float:left;
	width:25%;
	margin:0 0 10px 0 !important;
	overflow:hidden;
}

#recently-edited-content .dashboard-widget-control-form li label{
	display:inline;
	padding:0;
	line-height:1.5em;
	width:auto;
	float:none;
}

#recently-edited-content .dashboard-widget-control-form label input{
	vertical-align:middle;
}

#recently-edited-content .dashboard-widget-control-form li label:hover{
	color:#d54e21;
}

#recently-edited-content .inside{
	margin:0 !important;
	padding:0 !important;
}

#recently-edited-content .inside > ul{
	margin:0 !important;
	padding:0 !important;
}

#recently-edited-content .inside > ul > li{
	margin:0 !important;
	padding:0 !important;
}

.dashboard-recw-item{
	position:relative;
	border-top:1px solid #CCC;
	padding:10px;
}

.dashboard-recw-item .post-title{
	text-shadow:1px 1px 0 #FFF;
}

.dashboard-recw-item.odd{
	background:#FAFAFA;	
}

#recently-edited-content .inside li:first-child .dashboard-recw-item{
	border:0;
}

.dashboard-recw-item .post-meta{
	color:rgba(0,0,0,.66);	
}

.dashboard-recw-item:hover{
	background:#FFF;	
}

.dashboard-recw-item:before,
.dashboard-recw-item:after{
	position:absolute;
	visibility:hidden;
	pointer-events:none;
	opacity:0;
	z-index:100;
	background:#DDD;
	color:#333;
	border:1px solid #CCC;
	text-shadow:1px 1px 1px #FFF;
}

.dashboard-recw-item:before{
	top:-1px;
	left:21px;
	z-index:101;	
	content:'';
	width:8px;
	height:8px;
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	border-width:0 0 1px 1px;
}

.dashboard-recw-item:after{
	top:-23px;
	left:4px;
	line-height:25px;
	padding:0 8px;
	content:attr(data-posttype) " :" attr(data-status); 
	text-align:left;
	text-transform:capitalize;	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:inset 0 4px 8px #FFF;
	-webkit-box-shadow:inset 0 4px 8px #FFF;
	box-shadow:inset 0 4px 8px #FFF;
	background:rgb(255,255,255);
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background:-moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(221,221,221) 75%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(75%,rgb(221,221,221)));
	background:-webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(221,221,221) 75%);
	background:-o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(221,221,221) 75%);
	background:-ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(221,221,221) 75%);
	background:linear-gradient(top,  rgb(255,255,255) 0%,rgb(221,221,221) 75%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
}

.dashboard-recw-item:hover:before,
.dashboard-recw-item:hover:after{
	visibility:visible;
	opacity:1;	
}

.dashboard-recw-item.pending{
	background-image:url(../imgs/45-deg-gold.png);
	-moz-box-shadow:inset 0 0 10px rgba(255,203,79,.4);

}

.dashboard-recw-item.draft{
	background-image:url(../imgs/wavy-lines-green.png);
	-moz-box-shadow:inset 0 0 10px rgba(153,204,153,.5);
	-webkit-box-shadow:inset 0 0 10px rgba(153,204,153,.5);
	box-shadow:inset 0 0 10px rgba(153,204,153,.5);
}

.dashboard-recw-item.trash{
	background-image:url(../imgs/black-x.png);
	-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.1);
	box-shadow:inset 0 0 10px rgba(0,0,0,.1);
}

.dashboard-recw-item.future{
	background-image:url(../imgs/chronometer.png), url(../imgs/45-deg-white.png);
	background-repeat:no-repeat, repeat;
	background-position:98% 10px, 0 0;
	-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.1);
	box-shadow:inset 0 0 10px rgba(0,0,0,.1);
}