@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "variables";

#dashboard-widgets h4.post-title{
	margin:0;
	font-weight:bold;
	.post-type-meta{
		display:inline-block;
		color:#444;
		font-weight: normal;
		text-transform:capitalize;
		font-size:.8em;
		margin:0 0 0 2px;

		.meta-sep,
		.post-type,
		.post-state{
			display:inline-block;
			padding:0 2px;
		}
	}
}

#recently-edited-content{

	.nowrap{
		white-space: nowrap;
	}

	.dashboard-widget-control-form{
		padding:10px;
		margin:0;

		p,
		ul{
			margin:0 0 10px 0;
			overflow:hidden;
		}

		label{
			float:left;
			display:block;
			width:150px;
			padding:4px;
			margin-right:10px;
			font-weight: bold;
		}

		li{
			display: inline-block;
			vertical-align: top;

			width:50%;
			margin:0 0 10px 0;

			label{
				display:block;
				padding:0;
				font-size: .9em;
				width:auto;
				float:none;
				font-weight: normal;

				&:hover{
					color:#d54e21;
				}

				input,
				span{
					display: block;
				}

				input{
					float:left;
					margin:0 5px 0 0;
				}

				span{
					line-height: 1.3;
					white-space: nowrap;
					overflow: hidden;
					-o-text-overflow: ellipsis;
					text-overflow: ellipsis;
				}

				input:checked + span{
					font-weight: bold;
					color:#000;
				}

			}

		}

	}

	.inside{
		margin:0;
		padding:0;

		.dashboard-recw-notice{
			padding:10px;
			p{
				margin:0;
				padding:0;
			}
		}

		.dashboard-recw-item{
			position:relative;
			padding:10px 14px;
			@include box-shadow( inset 0 1px 0 0 #E5E5E5 );

			&:first-child{
				@include box-shadow( none );
			}

			&.odd{
				background-color:#FAFAFA;	
			}

			&.pending{
				background-image:url(../../imgs/45-deg-gold.png);
				border-left:4px solid #DD823B;
			}

			&.draft{
				background-image:url(../../imgs/wavy-lines-green.png);
				border-left:4px solid #9EA476;
			}

			&.trash{
				background-image:url(../../imgs/red-x.png);
				border-left:4px solid #E14D43;
			}

			&.future{
				background-image:url(../../imgs/chronometer.png), url(../../imgs/45-deg-white.png);
				background-repeat:no-repeat, repeat;
				background-position:98% 10px, 0 0;
				border-left:4px solid #52ACCC;
			}
			
			&.pending,
			&.draft,
			&.trash,
			&.future{
				padding:10px;
			}

			&:hover{
				background-color:#FFF;	

				.row-actions{
					visibility:visible;
				}

			}

			.thumbnail{
				position:relative;
				float:left;
				width:4em;
				height:4em;
				margin:0 .75em 0 0;
				overflow:hidden;

				background-color:#FFF;
				background-position: center center;
				background-repeat: no-repeat;
				background-size:contain;
				border:1px solid #FFF;

				&.has-dashicons.empty::before{
					content: "\f128";
					font:3em/1.333em dashicons;
					color:#FFF;
					display:block;
					width:100%;
					height:100%;
					text-align:center;
				}

				&.no-dashicons.empty{
					background-image:url(../../imgs/icon-image.png);
					background-position: center center;
					background-repeat: no-repeat;
					background-size:auto;
				}

				&.empty:hover{
					
				}

			}

			.dashboard-recw-item-wrap{
				overflow: hidden;
				@include hyphenation;

			}

			.header{
				text-shadow:1px 1px 0 #FFF;
			}

			.post-meta{
				margin:0 0 10px 0;
				.post-editor cite{
					font-style:normal;
				}
			}

			p{
				margin:0;
			}

			p + p{
				margin-top:10px;
			}

			.row-actions{
				margin-top:4px;

				span{
					display: inline-block;
					padding:0 3px;

					&:first-child{
						padding-left:0;
					}

				}

			}

		}		

	}

}

#recw-search{

	background:#FBFBFB;
	padding:1em;

	.ui-autocomplete-loading {
		background-image:url('../../imgs/ajax-loader.gif');
		background-position: 98% center;
		background-repeat: no-repeat;
	}

	#recw-search-input,
	#recw-search-button{
		display: inline-block;
		vertical-align: top;	
	}

	#recw-search-input{
		width:82%;
		margin-right:1%;
	}

	#recw-search-button{
		width:17%;
	}

	#recw-search-output{
		margin:1em 0 0 0;

		&.loading{
			background-image:url('../../imgs/ajax-loader.gif');
			background-position: 98% center;
			background-repeat: no-repeat;
		}

		&:empty{
			display: none;
		}

		li{
    		margin:0 0 1em 0;
    		padding:0;
		}

		li + li{
			margin-top:.5em;
		}

		p{
			margin:0;
			padding:0;
		}

		a{
			font-weight: bold;
		}

	}

}

@media screen and (max-width: 782px){

	#recently-edited-content{
		.dashboard-widget-control-form{
			li{
				label{
					span{
						line-height: 25px;
					}
				}
			}
		}
	}

}